extends ../layout/index
block contenido
     main.container.mt-5
          .row
               .col-md-5
                    img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
               .col-md-7
                    h1 #{pagina}
                    blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sequi itaque eveniet cumque! Consequatur ipsum odio deserunt reprehenderit aspernatur suscipit, minima voluptate aperiam perferendis libero magni dicta laborum, ad saepe.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quae molestiae cum! Totam repellendus corrupti quasi deleniti! Ut accusantium atque dignissimos rerum. Repellat consectetur asperiores modi culpa numquam obcaecati atque.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor alias aut natus necessitatibus aspernatur impedit consectetur, delectus expedita sapiente quo illo molestias, vel nemo ut beatae iste obcaecati voluptate.
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Voluptatem libero vel pariatur, in quibusdam facere temporibus enim ad nemo nobis blanditiis porro nesciunt deleniti quae itaque provident debitis aut eaque?
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores Destinos
                         p Voluptatem libero vel pariatur, in quibusdam facere temporibus enim ad nemo nobis blanditiis porro nesciunt deleniti quae itaque provident debitis aut eaque?
                    .col-md-4
                         img(src="img/icono_precio.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejor Precio
                         p Voluptatem libero vel pariatur, in quibusdam facere temporibus enim ad nemo nobis blanditiis porro nesciunt deleniti quae itaque provident debitis aut eaque?
               